#---------------------------------#
#      environment configuration  #
#---------------------------------#
version: 9.0.{build}.0
image: Visual Studio 2017
install:
    - git clone https://github.com/PowerShell/DscResource.Tests
    - ps: |
        Write-Verbose -Message 'Updating services start timeout to 1200000 milliseconds (2 minutes).' -Verbose
        New-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control' -Name 'ServicesPipeTimeout' -Value '120000' -PropertyType DWORD -Force
        Write-Verbose -Message 'Restarting build worker.' -Verbose
    - ps: Start-Sleep 5
    - ps: Restart-Computer -Force
    - ps: Start-Sleep 5
    - ps: |
        $servicesPipeTimeout = (Get-ItemProperty -Path 'HKLM:\SYSTEM\CurrentControlSet\Control' -Name 'ServicesPipeTimeout').ServicesPipeTimeout
        Write-Verbose -Message "Services start timeout is '$servicesPipeTimeout' milliseconds." -Verbose
    - ps: Write-Verbose -Message "PowerShell version $($PSVersionTable.PSVersion)" -Verbose
    - ps: Import-Module "$env:APPVEYOR_BUILD_FOLDER\DscResource.Tests\AppVeyor.psm1"
    - ps: Invoke-AppveyorInstallTask

#---------------------------------#
#      build configuration        #
#---------------------------------#

build: false

#---------------------------------#
#      test configuration         #
#---------------------------------#

test_script:
    - ps: |
        # Workaround for issue #239 and issue #774.
        Write-Verbose -Message '--- WORKAROUND FOR ISSUE #239 AND ISSUE #774 ---' -Verbose
        $sqlModules = Get-Module -ListAvailable -Name 'sql*'
        $sqlUniqueModulePath = Split-Path -Path (Split-Path $sqlModules.Path -Parent) -Parent | Sort-Object -Unique
        $sqlUniqueModulePath | ForEach-Object -Process {
            $newFolderName = '{0}.old' -f (Split-Path -Path $_ -Leaf)
            Write-Verbose ('Renaming ''{0}'' to ''..\{1}''' -f $_, $newFolderName) -Verbose
            Rename-Item $_ -NewName $newFolderName -Force
        }

        Write-Verbose -Message '' -Verbose

        # Workaround for issue #798
        Write-Verbose -Message '--- WORKAROUND FOR ISSUE #798 ---' -Verbose
        $azureModules = Get-Module -ListAvailable -Name 'Azure*'
        $azureUniqueModulePath = Split-Path -Path (Split-Path $azureModules.Path -Parent) -Parent | Sort-Object -Unique
        $azureUniqueModulePath | ForEach-Object -Process {
            $newFolderName = '{0}.old' -f (Split-Path -Path $_ -Leaf)
            Write-Verbose ('Renaming ''{0}'' to ''..\{1}''' -f $_, $newFolderName) -Verbose
            Rename-Item $_ -NewName $newFolderName -Force
        }
        Write-Verbose -Message '' -Verbose

        Invoke-AppveyorTestScriptTask -CodeCoverage -CodeCovIo -ExcludeTag @() -RunTestInOrder

#---------------------------------#
#      deployment configuration   #
#---------------------------------#

# scripts to run before deployment
deploy_script:
    - ps: |
        Invoke-AppveyorAfterTestTask
