trigger:
  branches:
    include:
    - main
  paths:
    include:
    - source/*
  tags:
    include:
    - "v*"
    exclude:
    - "*-*"

variables:
  buildFolderName: output
  buildArtifactName: output
  testResultFolderName: testResults
  testArtifactName: 'testResults_$(System.JobAttempt)'
  sourceFolderName: source
  defaultBranch: main

# cSpell: ignore setvariable updatebuildnumber DSCSQLTEST hqrmtest quickconfig dbatools
stages:
  - stage: Build
    jobs:
      - job: Package_Module
        displayName: 'Package Module'
        pool:
          vmImage: 'windows-latest'
        steps:
          - pwsh: |
              dotnet tool install --global GitVersion.Tool --version 5.*
              $gitVersionObject = dotnet-gitversion | ConvertFrom-Json
              $gitVersionObject.PSObject.Properties.ForEach{
                  Write-Host -Object "Setting Task Variable '$($_.Name)' with value '$($_.Value)'."
                  Write-Host -Object "##vso[task.setvariable variable=$($_.Name);]$($_.Value)"
              }
              Write-Host -Object "##vso[build.updatebuildnumber]$($gitVersionObject.FullSemVer)"
            displayName: Calculate ModuleVersion (GitVersion)
          - pwsh: |
              <#
                  This is intentionally not saved to RequiredModules. It is only
                  used for creating documentation and should not be part of the
                  build artifact.
              #>
              Write-Information -MessageData 'Removing SqlServer and SQLPS from the CI worker.' -InformationAction Continue
              Import-Module -Name ./tests/TestHelpers/CommonTestHelper.psm1
              Remove-PowerShellModuleFromCI -Name @('SqlServer', 'SQLPS')
              Remove-Module -Name CommonTestHelper
              Write-Information -MessageData 'Installing latest SqlServer on the CI worker' -InformationAction Continue
              Install-Module -Name SqlServer -Force -Confirm:$false -Verbose
              Get-Module -Name SqlServer -ListAvailable |
                  Select-Object -Property Name,Version,@{Name='Prerelease'; Expression={$_.PrivateData.PSData.Prerelease}}, Path
            displayName: Install SqlServer module
          - task: PowerShell@2
            name: package
            displayName: 'Build & Package Module'
            inputs:
              filePath: './build.ps1'
              arguments: '-ResolveDependency -tasks pack'
              pwsh: true
            env:
              ModuleVersion: $(NuGetVersionV2)
          - task: PublishPipelineArtifact@1
            displayName: 'Publish Build Artifact'
            inputs:
              targetPath: '$(buildFolderName)/'
              artifact: $(buildArtifactName)
              publishLocation: 'pipeline'
              parallel: true

  - stage: Quality_Test_and_Unit_Test
    displayName: 'Quality Test and Unit Test'
    dependsOn: Build
    jobs:
      - job: Determine_DSC_Resource_Test_Requirements
        displayName: 'Determine DSC Resource Test Requirements'
        pool:
          vmImage: 'windows-latest'
        steps:
          - task: DownloadPipelineArtifact@2
            displayName: 'Download Build Artifact'
            inputs:
              buildType: 'current'
              artifactName: $(buildArtifactName)
              targetPath: '$(Build.SourcesDirectory)/$(buildFolderName)'
          - task: PowerShell@2
            name: determineDscResourceTests
            displayName: 'Determine if DSC Resource Integration Tests Should Run'
            inputs:
              targetType: 'inline'
              script: |
                # Determine if we should run DSC resource integration tests based on branch logic
                $shouldRun = $false

                if ($env:SYSTEM_PULLREQUEST_TARGETBRANCH)
                {
                    $targetBranch = "origin/$env:SYSTEM_PULLREQUEST_TARGETBRANCH"
                    Write-Host "Pull request detected, targeting branch $targetBranch. Using script analysis to determine test requirements."
                    $shouldRun = & ./.build/Test-ShouldRunDscResourceIntegrationTests.ps1 -BaseBranch $targetBranch -CurrentBranch 'HEAD'
                }
                elseif ($env:BUILD.SOURCEBRANCHNAME -eq '$(defaultBranch)')
                {
                    Write-Host "Target is default branch ($(defaultBranch)). Always running DSC resource integration tests."
                    $shouldRun = $true
                }
                else
                {
                    Write-Host "Target is non-default branch ($env:BUILD.SOURCEBRANCH). Using script analysis to determine test requirements against default branch."
                    $shouldRun = & ./.build/Test-ShouldRunDscResourceIntegrationTests.ps1 -BaseBranch "origin/$(defaultBranch)" -CurrentBranch 'HEAD' -UseMergeBase
                }

                # Set Azure DevOps output variable for pipeline conditions
                Write-Host "##vso[task.setvariable variable=ShouldRunDscResourceIntegrationTests;isOutput=true]$shouldRun"

                Write-Host "Variable ShouldRunDscResourceIntegrationTests is set to: $shouldRun"
              pwsh: true


      - job: Test_Unit
        displayName: 'Unit'
        pool:
          vmImage: 'windows-latest'
        timeoutInMinutes: '0'
        variables:
          # This sets environment variable $env:SqlServerDscCI.
          SqlServerDscCI: true
        steps:
          - task: DownloadPipelineArtifact@2
            displayName: 'Download Build Artifact'
            inputs:
              buildType: 'current'
              artifactName: $(buildArtifactName)
              targetPath: '$(Build.SourcesDirectory)/$(buildFolderName)'
          - task: PowerShell@2
            name: test
            displayName: 'Run Unit Test'
            inputs:
              filePath: './build.ps1'
              arguments: "-Tasks test -PesterPath 'tests/Unit'"
              pwsh: true
          - task: PublishTestResults@2
            displayName: 'Publish Test Results'
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'NUnit'
              testResultsFiles: '$(buildFolderName)/$(testResultFolderName)/NUnit*.xml'
              testRunTitle: 'Unit (Windows Server 2019)'
          - task: PublishPipelineArtifact@1
            displayName: 'Publish Test Artifact'
            condition: succeededOrFailed()
            inputs:
              targetPath: '$(buildFolderName)/$(testResultFolderName)/'
              artifactName: $(testArtifactName)
